/*Tamanho padrão para tablets*/

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	header .social-bar {
		height: 40px;
	}
	header .list-socials-up {
		width: 70%;
		float: left;
		left: 2%;
	}
	header .row-socials {
		 width: 100%;
		 position: relative;
		 float: left;
	}
	header .row-socials ul{
		width: 100%;
	}
	header .list-socials li {
		font-size: 28px;
		margin-top: 8px;
	}
	header .logotipo {
		width: 40%;
		height: 230px;
		left: 55%;
		top: 50px;
	}
	header .header-menu {
		height: 250px;
	}
	header #menu-links {
		float: left !important;
	}
	header .header-menu ul {
		position: relative;
		float: left !important;
		padding: 0;
		margin-left: 0;
	}
	header .header-menu li {
		width: 100px;
		display: list-item !important;
		list-style-type: none;
	}
	header .header-menu a {
		font-size: 14px;
	}
	header #menu {
		float: left;
		left: 2%;
	}
	#banner {
		height: 600px;
		margin-top: -250px;
		background-size: 200% 700px;
		background-position: -300px -0px;
	}
	#banner h2 {
		font-size: 36px;
	}
	#banner h2 {
		left: 20%;
	}
	#photos {
		margin-top: -20px;
		height: 3750px;
	}
	.photo {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		display: block;
	}
	#photo1 {
		width: 100% !important;
		height:540px;
		margin-top: 150px;
	}
	#photo2 {
		width: 100% !important;
		height:540px;
		margin-top: -30px;
	}
	#photo3 {
		width: 50% !important;
		height:540px;
		margin-top: -30px;
	}
	#photo4 {
		width: 100% !important;
		height:540px;
	}
	#photo5 {
		width: 50% !important;
		height:540px;
		float: left;
		left: 50% !important;
		margin-top: -1080px;
	}
	#photo6 {
		width: 100% !important;
		height:540px;
		margin-top: -30px;
	}
	#photo7 {
		width: 100% !important;
		height:540px;
		margin-top: -30px;
	}
	#photo8 {
		width: 25% !important;
		height:400px;
		margin-top: -28px;
	}
	#photo9 {
		width: 25% !important;
		height:400px;
		left: 25% !important;
		margin-top: -400px;
	}
	#photo10 {
		width: 25% !important;
		height:400px;
		left: 50% !important;
		margin-top: -400px;
	}
	#photo11 {
		width: 25% !important;
		height:400px;
		left: 75% !important;
		margin-top: -400px;
	}
	#info-day {
		margin-top: -70px;
	}
	#infos {
		height: 400px;
	}
	#confirmation {
		margin-top: -10px;
	}
	.btn-confirmation {
		width: 80%;
		height: 200px;
		background-color: #333A42;
		position: relative;
		top: 180px;
		left: 10%;
		border: 2px solid #D7443F;
		text-align: center;
		font-size: 36px;
		font-family: 'Courier';
		color: #F1ECE9;
	}
	footer .up-footer {
		height: 300px;
	}
	footer .infos-right-mobile {
		width: 50%;
		height: 230px;
		position: absolute;
		z-index: 3;
	}
	footer .infos-right-mobile h1{
		font-family: 'Courier';
		color: #D7443F;
		margin-left: 5%;
	}
	footer .infos-right-mobile ul{
		padding: 0;
	}
	footer .infos-left-mobile {
		width: 50%;
		height: 230px;
		position: absolute;
		left: 50%;
		z-index: 2;
	}
	footer .infos-right-mobile li{
		width: 80%;
		padding: 0;
		border: none;
		margin-left: 10%;
		margin-bottom: 10px;
		text-align: center;
		list-style-type: none;
	}
	footer .infos-right-mobile a{
		color: #F1ECE9;
		font-family: 'Courier';
	}
	footer .infos-left-mobile h2 {
		font-family: 'Courier';
		color: #D7443F;
		margin-left: 5%;
	}
	footer .infos-left-mobile ul{
		padding: 0;
	}
	footer .infos-left-mobile li{
		width: 80%;
		padding: 0;
		border: none;
		margin-left: 10%;
		margin-bottom: 10px;
		text-align: center;
		list-style-type: none;
		color: #F1ECE9;
		font-family: 'Courier';
	}
	footer .list-socials-mobile {
		width: 70%;
		height: 50px;
		position: absolute;
		left: 22%;
		top: 220px;
		z-index: 2;
	}
	footer .links-socials-mobile {
		margin: 0;
		padding: 0;
	}
	footer .links-socials-mobile li{
		width: 18%;
		height: 40px;
		margin-left: 10px;
		margin-right: 0;
	}
	footer .logotipo-rodape {
		display: none;
	}
	footer .links {
		display: none;
	}
	footer .personal-infos {
		display: none;
	}
	footer .down-footer {
		height: 50px;
	}
	footer .infos-right {
		height: 0px;
	}
	footer .down-footer p{
		font-size: 9px;
		margin-bottom: 0;
	}
	footer .pull-right {
		float: left !important;
		padding: 0 !important;
		margin-top: -10px !important;
	}
	footer .developer {
		margin-top: 5px !important;
	}
	footer .logo-rodape-mobile {
		width: 20%;
		height: 45px;
		position: absolute;
		float: right;
		right: 3%;
		background: url("logo2.png") no-repeat;
		background-size: 100% 100%;
	}

	
	.form-user {
		height: 900px;
	}
	.form-user h1{
		font-size: 24px;
	}
	.form-user label {
		font-size: 14px;
	}
	.form-for input[type=submit] {
		margin-top: 50px;
		font-size: 14px;
	}
	.link-form {
		top: 750px;
	}
	.form-login {
		height: 700px;
	}
	.infos-confirmation p{
		font-size: 24px;
	}
	.links-confirmation {
		width: 60%;
		left: 30%;
	}
	.links-confirmation a{
		text-align: center;
	}
	.form-show-confirmation {
		height: 650px;
	}
}
/*Tamanho padrão para smartphones*/
@media only screen and (min-width: 300px) and (max-width: 600px) {
	header .social-bar {
		height: 40px;
	}
	header .list-socials-up {
		width: 70%;
		float: left;
		left: 2%;
	}
	header .row-socials {
		 width: 100%;
		 position: relative;
		 float: left;
	}
	header .row-socials ul{
		width: 100%;
	}
	header .list-socials li {
		font-size: 28px;
		margin-top: 8px;
	}
	header .logotipo {
		width: 40%;
		left: 55%;
		top: 110px;
	}
	header .header-menu {
		height: 250px;
	}
	header #menu-links {
		float: left !important;
	}
	header .header-menu ul {
		position: relative;
		float: left !important;
		padding: 0;
		margin-left: 0;
	}
	header .header-menu li {
		width: 100px;
		display: list-item !important;
		list-style-type: none;
	}
	header .header-menu a {
		font-size: 14px;
	}
	header #menu {
		float: left;
		left: 2%;
	}
	#banner {
		height: 600px;
		margin-top: -250px;
		background-size: 400% 700px;
		background-position: -500px -0px;
	}
	#banner h2 {
		font-size: 36px;
	}
	#banner h2 {
		left: 20%;
	}
	#photos {
		margin-top: -20px;
		height: 3750px;
	}
	.photo {
		width: 100% !important;
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		display: block;
	}
	#photo1 {
		height:240px;
		margin-top: 150px;
	}
	#photo2 {
		height:240px;
		margin-top: -30px;
	}
	#photo3 {
		margin-top: -30px;
	}
	#photo5 {
		margin-top: -190px;
	}
	#photo7 {
		margin-top: -190px;
	}
	#photo8 {
		margin-top: -190px;
	}
	#info-day {
		margin-top: -10px;
	}
	#infos {
		height: 400px;
	}
	#confirmation {
		margin-top: -10px;
	}
	.btn-confirmation {
		width: 80%;
		height: 200px;
		background-color: #333A42;
		position: relative;
		top: 180px;
		left: 10%;
		border: 2px solid #D7443F;
		text-align: center;
		font-size: 36px;
		font-family: 'Courier';
		color: #F1ECE9;
	}
	footer .up-footer {
		height: 300px;
	}
	footer .infos-right-mobile {
		width: 50%;
		height: 230px;
		position: absolute;
		z-index: 3;
	}
	footer .infos-right-mobile h1{
		font-family: 'Courier';
		color: #D7443F;
		margin-left: 5%;
	}
	footer .infos-right-mobile ul{
		padding: 0;
	}
	footer .infos-left-mobile {
		width: 50%;
		height: 230px;
		position: absolute;
		left: 50%;
		z-index: 2;
	}
	footer .infos-right-mobile li{
		width: 80%;
		padding: 0;
		border: none;
		margin-left: 10%;
		margin-bottom: 10px;
		text-align: center;
		list-style-type: none;
	}
	footer .infos-right-mobile a{
		color: #F1ECE9;
		font-family: 'Courier';
	}
	footer .infos-left-mobile h2 {
		font-family: 'Courier';
		color: #D7443F;
		margin-left: 5%;
	}
	footer .infos-left-mobile ul{
		padding: 0;
	}
	footer .infos-left-mobile li{
		width: 80%;
		padding: 0;
		border: none;
		margin-left: 10%;
		margin-bottom: 10px;
		text-align: center;
		list-style-type: none;
		color: #F1ECE9;
		font-family: 'Courier';
	}
	footer .list-socials-mobile {
		width: 70%;
		height: 50px;
		position: absolute;
		left: 15%;
		top: 220px;
		z-index: 2;
	}
	footer .links-socials-mobile {
		margin: 0;
		margin-top: 10px;
		padding: 0;
	}
	footer .links-socials-mobile li{
		width: 18%;
		height: 40px;
		margin-left: 10px;
		margin-right: 0;
	}
	footer .logotipo-rodape {
		display: none;
	}
	footer .links {
		display: none;
	}
	footer .personal-infos {
		display: none;
	}
	footer .down-footer {
		height: 50px;
	}
	footer .infos-right {
		height: 0px;
	}
	footer .down-footer p{
		font-size: 9px;
		margin-bottom: 0;
	}
	footer .pull-right {
		float: left !important;
		padding: 0 !important;
		margin-top: -10px !important;
	}
	footer .developer {
		margin-top: 5px !important;
	}
	footer .logo-rodape-mobile {
		width: 20%;
		height: 45px;
		position: absolute;
		float: right;
		right: 3%;
		background: url("logo2.png") no-repeat;
		background-size: 100% 100%;
	}


	.form-user {
		height: 900px;
	}
	.form-user h1{
		font-size: 24px;
	}
	.form-user label {
		font-size: 14px;
	}
	.form-for input[type=submit] {
		margin-top: 50px;
		font-size: 14px;
	}
	.link-form {
		top: 750px;
	}
	.form-login {
		height: 700px;
	}
	.infos-confirmation p{
		font-size: 24px;
	}
	.links-confirmation {
		width: 60%;
		left: 30%;
	}
	.links-confirmation a{
		text-align: center;
	}
	.form-show-confirmation {
		height: 650px;
	}
}


