<%= stylesheet_link_tag "estilos-mobile.css" %>

<section>
	<div class="form-user">
		<div class="form-new">
			<h1>Confirme sua Presença<hr></h1>

			<%= render 'form', confirmation: @confirmation %>		
		</div>
		<div class="link-form">
			<%= link_to 'Voltar', root_path %>
		</div>
	</div>
</section>