/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-user {
	width: 100%;
	height: 700px;
	margin-top: -70px;
	background-color: #F1ECE9;
}
.form-new {
	width: 80%;
	position: absolute;
	left: 10%;
	margin-top: 110px;
}
.form-new h1 {
	width: 100%;
	margin:0;
	padding:0;
	text-align: center;
	font-size: 48px;
	font-family: 'Courier';
	position: relative;
	color: #333A42;
}
.form-new hr {
	width: 30%;
	border: 2px solid #D7443F;
}
.form-user a {
	position: relative;
	color: #000;
}
.form-for {
	width: 100%;
	float: left;
	position: relative;
	margin-top: 20px;
}
.form-for label {
	font-size: 24px;
	font-family: 'Courier';
	color: #333A42;
}
.form-for input {
	width: 100%;
	height: 60px;
	margin: 5px;
	border: none;
	background-color: #A6A5A1;
	border-radius: 5px;
	border: 2px solid #000;
}
.form-for input[type=text] {
	color: #F1ECE9;
	font-size: 36px;
}
.form-for input[type=submit] {
	background-color: #485058;
	color: #F1ECE9;
	font-size: 24px;
	font-family: 'Courier';
}
.form-for input[type=submit]:hover {
	opacity: .8;
	transition: .5s
}
.link-form {
	position: relative;
	text-align: center;
	top: 650px;
	font-size: 26px;
	color: #D7443F;
	font-family: 'Courier';
}
.link-form a:hover{
	background: none;
	text-decoration: none;
	opacity: .5;
	transition: .5s;
}
.infos-confirmation {
	width: 80%;
	position: absolute;
	left: 10%;
	margin-top: 110px;
}
.infos-confirmation p{
	position: relative;
	text-align: center;
	font-size: 26px;
	color: #333A42;
	margin: 50px;
	font-family: 'Courier';
}
.links-confirmation {
	width: 50%;
	position: relative;
	float: left;
	left: 45%;
	top: 50px;
}
.links-confirmation a{
	text-align: center;
	font-size: 26px;
	color: #D7443F;
	font-family: 'Courier';
}
.links-confirmation a:hover{
	background: none;
	text-decoration: none;
	opacity: .5;
	transition: .5s;
}


